@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(254, 254, 254, 0.5);
  }
  .glass-bg {
    @apply glass;
    background: rgba(254, 254, 254, 0.26);
  }
  .glass-bg-2 {
    @apply glass;
    background: rgba(100, 100, 100, 0.4);
  }
  .btn2 {
    @apply col-span-2 aspect-[8_/_3];
  }
}
